.bars {
    display: flex;
    align-items: flex-end;
    background:#424242;
    height: 300px;
    padding-top: 30px;
}

.bar {
    flex:1;
    height: 10%;
    background: #b0b333;
    position: relative;
    margin: 0px 18px 20px 8px;
}

.trans>.bar {
    transition: all 2s ease-in-out;
}

.bar>b:first-child {
    position: absolute;
    top: -20px;
    width: 100%;
    text-align: center;
    color: white;
}

h3 {
    text-align: center;
    
}

.name {
    position: absolute;
    bottom: -18px;
    width: 100%;
    text-align: center;
    color: white;
}